/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
:root {
  /* Azul */
  --ion-color-primary: #0ea5e9;
  --ion-color-primary-rgb: 14, 165, 233;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0c91cc;
  --ion-color-primary-tint: #26afea;

  /* Verde */
  --ion-color-secondary: #22c55e;
  --ion-color-secondary-rgb: 34, 197, 94;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1eae53;
  --ion-color-secondary-tint: #38cb6e;
}
